.tablero{
  width:100%;
  margin:20px;
  padding:5%;
  position:absolute;
  }
  .reloj{
    border-radius: 50%;
    background-color: #dc3545;
    color: #f2f2f2;
  }
  .eye{
    position:absolute;
    height:338px;
    width:256px;
    top: 10px;
    left:10px;
    z-index: 1;
   
    border-radius: 10px;
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
   @-webkit-keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
  
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
  
  $border-radius-size: 14px;
  $barbarian: black;
  $archer: #EE5487;
  $giant: #F6901A;
  $goblin: #82BB30;
  $wizard: #4FACFF;
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin-top: 30px;
  }
  
  .slide-container {
    margin: auto;
    width: 600px;
    text-align: center;
  }
  
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    
    &:focus {
      outline: 0;
    }
  }
  
  
  
  .clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
  }
  
  .clash-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
  }
  
  .clash-card__image--barbarian {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
    img {
      width: 180px;
      height: 250px;
      position: absolute;    
      top: 5px;
      left: 58px;
      border-radius: 10px;
    }
  }
  
  
  
  
  .clash-card__level--barbarian {
    color: $barbarian;
  }
  
  
  
  .clash-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;  
  }
  
  .clash-card__unit-stats--barbarian {
    background: $barbarian;
    
    
  }
  
  
  
  .clash-card__unit-stats {
    
    color: white;
    font-weight: 700;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;
    
    .one-third {
      width: 100%;
    
      float: left;
      padding: 20px 15px;
    }
    
    sup {
      position: absolute;
      bottom: 4px; 
      font-size: 45%;
      margin-left: 2px;
    }
    
    .stat {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .stat-value {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
    }
  
    .no-border {
      border-right: none;
    }
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  .slick-prev {
    left: 100px;
    z-index: 999;
  }
  
  .slick-next {
    right: 100px;
    z-index: 999;
  }
    
  .btn-apostar {
    background-color: #ffffff;
    border-color: #f2f2f2;
    color:#201f23;
  }
  .btn-apostar:hover,
  .btn-apostar:focus,
  .btn-apostar:active,
  .btn-apostar.active {
    background-color: #ffffff;
    border-color: #dc3545;
    color:#201f23;
  }
  .btn-apostar.disabled:hover,
  .btn-apostar.disabled:focus,
  .btn-apostar.disabled:active,
  .btn-apostar.disabled.active,
  .btn-apostar[disabled]:hover,
  .btn-apostar[disabled]:focus,
  .btn-apostar[disabled]:active,
  .btn-apostar[disabled].active,
  fieldset[disabled] .btn-apostar:hover,
  fieldset[disabled] .btn-apostar:focus,
  fieldset[disabled] .btn-apostar:active,
  fieldset[disabled] .btn-apostar.active {
    background-color: #dc3545;
    border-color: #f2f2f2;
    color:#201f23;
  }